@charset "UTF-8";

:root {
  --margin: 480px;
  --background: #e2e2f5;
  --perspective: 1800px;
  --transition: transform 1s .2s, z-index 0s 0.5s;
  --yellow: #ffce14;
}

body .pages_page {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 105%;


  transform-origin: 0 50%;
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background: var(--background);
  height: 100vh;
  overflow: hidden;
}

body .logo {
  font-size: 20px;
  padding: 33px 30px 30px 30px;
  line-height: 0;
  color: var(--yellow);
}

body .pagenumber {
  position: absolute;
  bottom: 20px;
  left: 34px;
  width: 400px;
  color: var(--yellow);
  letter-spacing: 60px;
}

body .pagenumber:after {
  height: 1px;
  width: 100px;
  background: var(--yellow);
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 19px;
}


body .pages {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  perspective: var(--perspective);
  box-shadow: 0 41px 38px -20px #0a3150;
  max-width: 1300px;
  max-height: 650px;
}

body .pages input {
  display: none;
}



/* page number transition */
body .pages input:nth-of-type(2):checked+input+input+div+div+div .pagenumber,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .pagenumber {
  letter-spacing: 59px;
  transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .pagenumber:after,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .pagenumber:after {
  width: 100px;
  transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):checked+input+input+div+div+div .content,
body .pages input:nth-of-type(2):checked+input+input+div+div+div+div .content {
  filter: blur(0px);
  opacity: 1;
  transition: all 1s 0.5s;
  perspective: var(--perspective);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .pagenumber,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .pagenumber {
  letter-spacing: 0;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .pagenumber:after,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .pagenumber:after {
  width: 0px;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div .content,
body .pages input:nth-of-type(2):not(:checked)+input+input+div+div+div+div .content {
  filter: blur(10px);
  opacity: 0;
  transform: translateZ(50px);
  transition: all 1s 0.2s;
}

body .pages input:nth-of-type(3):checked+input+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div+div .pagenumber {
  letter-spacing: 59px;
  transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):checked+input+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(3):checked+input+div+div+div+div+div+div .pagenumber:after {
  width: 100px;
  transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):not(checked)+input+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(3):not(:checked)+input+div+div+div+div+div+div .pagenumber {
  letter-spacing: 0;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(3):not(checked)+input+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(3):not(:checked)+input+div+div+div+div+div+div .pagenumber:after {
  width: 0px;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .pagenumber {
  letter-spacing: 59px;
  transition: all 0.8s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(4):checked+div+div+div+div+div+div+div+div .pagenumber:after {
  width: 100px;
  transition: all 1s 0.7s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .pagenumber,
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .pagenumber {
  letter-spacing: 0;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages input:nth-of-type(4):not(checked)+div+div+div+div+div+div+div .pagenumber:after,
body .pages input:nth-of-type(4):not(:checked)+div+div+div+div+div+div+div+div .pagenumber:after {
  width: 0px;
  transition: all 0.5s 0.2s cubic-bezier(0.6, 0.045, 0.165, 1);
}

body .pages_page {
  pointer-events: none;
  float: right;
  transform-style: preserve-3d;
}

body .pages_page:nth-of-type(1) {
  z-index: 10;
  transition: var(--transition);
}

body .pages_page:nth-of-type(2) {
  z-index: 9;
  transition: var(--transition);
}

body .pages_page:nth-of-type(3) {
  z-index: 8;
  transition: var(--transition);
}

body .pages_page:nth-of-type(4) {
  z-index: 7;
  transition: var(--transition);
}

body .pages_page:nth-of-type(5) {
  z-index: 6;
  transition: var(--transition);
}

body .pages_page:nth-of-type(6) {
  z-index: 5;
  transition: var(--transition);
}

body .pages_page:nth-of-type(7) {
  z-index: 4;
  transition: var(--transition);
}

body .pages_page:nth-of-type(8) {
  z-index: 3;
  transition: var(--transition);
}

body .pages_page:nth-of-type(9) {
  z-index: 2;
  transition: var(--transition);
}

body .pages_page:nth-of-type(10) {
  z-index: 1;
  transition: var(--transition);
}

body .pages_page:nth-of-type(11) {
  z-index: 0;
  transition: var(--transition);
}



body .pages_page:nth-of-type(1) {
  left: 0;
  z-index: 0;
  transform: rotateY(0deg) !important;
  pointer-events: none;
}

body .pages_page:nth-of-type(1) .pages_page__inner {
  transform: rotateY(0deg) !important;
}

body .pages_page:nth-of-type(2) {
  pointer-events: all;
}

body .pages_page:nth-of-type(odd) .pages_page__inner {
  transform: rotateY(180deg);
}


/*  page images */

body .pages_page:nth-of-type(1) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0001.jpg");
}

body .pages_page:nth-of-type(2) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0002.jpg");
}


body .pages_page:nth-of-type(3) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0003.jpg");
  background-position: 0 0;
}

body .pages_page:nth-of-type(4) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0004.jpg");
}

body .pages_page:nth-of-type(5) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0005.jpg");
}

body .pages_page:nth-of-type(6) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0006.jpg");
}

body .pages_page:nth-of-type(7) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0007.jpg");
}
body .pages_page:nth-of-type(8) .pages_page__inner {
  background-repeat: no-repeat !important;
  background-size: calc(100% - var(--margin)*0.001) !important;
  background-position: center !important;
  background: url("Brochure-images/page-0008.jpg");
}



body .pages_page__inner {
  background-size: 0 !important;
  height: 100%;
  transform-style: preserve-3d;
}

body .pages_page__inner .control {
  position: absolute;
  z-index: 1;
  width: 31px;
  height: 31px;
  border: 1px solid var(--yellow);
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
  transition: all 0.23s;
  box-shadow: 0 0 0 0px #bf9726;
}

body .pages_page__inner .control:hover {
  box-shadow: 0 0 0 10px rgba(191, 151, 38, 0.3);
  left: 34px;
}

body .pages_page__inner .control:hover:before {
  width: 40px;
  left: -40px;
}

body .pages_page__inner .control.next {
  left: auto;
  right: 30px;
}

body .pages_page__inner .control.next:hover {
  right: 34px;
}

body .pages_page__inner .control.next:hover:before {
  width: 40px;
  right: -40px;
}

body .pages_page__inner .control.next:before {
  left: auto;
  right: -33px;
}

body .pages_page__inner .control.next:after {
  transform: rotate(180deg);
  top: 5px;
  left: 11px;
  pointer-events: none;
}

body .pages_page__inner .control label {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

body .pages_page__inner .control:after {
  content: "";
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--yellow);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

body .pages_page__inner .control:before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 1px;
  background: var(--yellow);
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
  transition: all 0.2s;
}

body .pages_page__inner .footer {
  position: absolute;
  bottom: 26px;
  z-index: 2;
  color: var(--yellow);
  right: 30px;
  font-size: 12px;
}

body .pages_page__inner .footer i {
  margin: 0 10px;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(2):checked+input+input+div+div {
  pointer-events: none;
  z-index: 9;
}





body .pages input[type=radio]:nth-of-type(3):checked+input+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(3):checked+input+div+div+div+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div {
  pointer-events: none;
  z-index: 9;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div {
  pointer-events: all;
  transform: rotateY(-180deg);
  z-index: 10;
  transition: var(--transition);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div .control {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0);
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div+div+div {
  pointer-events: all;
}

body .pages input[type=radio]:nth-of-type(4):checked+div+div+div+div+div+div {
  pointer-events: none;
  z-index: 9;
}
